################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/assets
/highrock/tiles
/highrock/scripts/leaflet
